.goros-register-div{
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    padding: 5vh;
    background-color: #ffffff;
}

.goros-register-button{
    display: flex;
    justify-content: center;
    align-items: center;

}

.divider{
    width:15px;
    height:auto;
    display:inline-block;
}